#root {
  font-family: "Raleway", sans-serif;
}

.container {
  margin: 0 auto;
}

.header {
  background-color: #273338;
  height: 123px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 350px;
  h1 {
    font-size: 50px;
  }
  div {
    font-size: 22px;
    i {
      background-color: #ffffff;
      border-radius: 50%;
      padding: 7px;
      color: #273338;
      margin-left: 15px;
    }
  }
}

.accounts {
  margin: 0 350px;
}

.account {
  margin-bottom: 50px;

  .title {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 1px rgba(168, 168, 168, 20%);
    position: relative;
    z-index: 999;
  }
}

.operations {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 238, 238);
  & div:nth-child(2) {
    flex: auto;
  }
  &:nth-child(2n) {
    background-color: #ffffff;
  }

  div {
    margin: 10px 40px;
    padding: 0 20px;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 500;

    &:first-child {
      font-weight: 300;
      color: #273338;
    }
  }
}
